<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="au theme template"/>
    <meta name="author" content="Hau Nguyen"/>
    <meta name="keywords" content="au theme template"/>

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{../css/font-face.css}" href="../css/font-face.css" rel="stylesheet" media="all">
    <link th:href="@{../vendor/font-awesome-4.7/css/font-awesome.min.css}"
          href="../vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link th:href="@{../vendor/font-awesome-5/css/fontawesome-all.min.css}"
          href="../vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link th:href="@{../vendor/mdi-font/css/material-design-iconic-font.min.css}"
          href="../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{../vendor/bootstrap-4.1/bootstrap.min.css}" href="../vendor/bootstrap-4.1/bootstrap.min.css"
          rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{../vendor/animsition/animsition.min.css}" href="../vendor/animsition/animsition.min.css"
          rel="stylesheet" media="all">
    <link th:href="@{../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}"
          href="../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link th:href="@{../vendor/wow/animate.css}" href="../vendor/wow/animate.css" rel="stylesheet" media="all">
    <link th:href="@{../vendor/css-hamburgers/hamburgers.min.css}" href="../vendor/css-hamburgers/hamburgers.min.css"
          rel="stylesheet" media="all">
    <link th:href="@{../vendor/slick/slick.css}" href="../vendor/slick/slick.css" rel="stylesheet" media="all">
    <link th:href="@{../vendor/select2/select2.min.css}" href="../vendor/select2/select2.min.css" rel="stylesheet"
          media="all">
    <link th:href="@{../vendor/perfect-scrollbar/perfect-scrollbar.css}"
          href="../vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{../css/theme.css}" href="../css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src="images/icon/logo.png" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="login-form">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <label th:text="#{login.phonenumber}">Email Address</label>
                                <input class="au-input au-input--full" type="text" name="phonenumber"
                                       th:placeholder="#{login.phonenumber}" placeholder="PhoneNumber">
                            </div>
                            <div class="form-group">
                                <label th:text="#{login.pwd}">Password</label>
                                <input class="au-input au-input--full" type="password" name="pwd"
                                       th:Placeholder="#{login.pwd}" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label th:text="#{login.classname}">Class Name</label>
                                <input class="au-input au-input--full" type="text" name="admin_classname" id="admin_classname"
                                       th:Placeholder="#{login.classname}" placeholder="Class Name">
                                <select id="classname" class="au-input--full" name="classname">
                                    <option value="-1">请选择班级</option>
                                    <option value="0">管理员</option>
                                    <option value="1705">1705班级</option>
                                    <option value="1711">1711班级</option>
                                    <option value="1804">1804班级</option>
                                    <option value="1808">1808班级</option>
                                    <option value="1901">1901班级</option>
                                    <option value="1905">1905班级</option>
                                    <option value="1909">1909班级</option>
                                    <option value="2002">2002班级</option>
                                    <option value="2005">2005班级</option>
                                </select>
                            </div>
                            <div class="login-checkbox">
                                <label>
                                    <input type="checkbox" name="remember">[[#{login.rememberme}]]
                                </label>
                                <label>
                                    <a href="#" th:text="#{login.forgetpwd}">Forgotten Password?</a>
                                </label>
                            </div>
                            <h6 style="color:red;" th:text="${error}"></h6>
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit"
                                    th:text="#{login.sign}">sign in
                            </button>


                            <!--                                <div class="social-login-content">-->
                            <!--                                    <div class="social-button">-->
                            <!--                                        <button class="au-btn au-btn&#45;&#45;block au-btn&#45;&#45;blue m-b-20">sign in with facebook</button>-->
                            <!--                                        <button class="au-btn au-btn&#45;&#45;block au-btn&#45;&#45;blue2">sign in with twitter</button>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                        </form>
                        <div class="register-link">
                            <p th:text="#{login.nohaveaccount}">
                                Don't you have account?
                                <a href="#" th:text="#{login.signuphere}">Sign Up Here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Jquery JS-->
<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<script language="JavaScript">
    $("#admin_classname").hide()
    $("#classname").on("change",function () {
        if ($("#classname").val()==0){
            $("#admin_classname").show()
            $("#classname").hide()
        }
    })
</script>
<!-- Bootstrap JS-->
<script th:src="@{/vendor/bootstrap-4.1/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap-4.1/bootstrap.min.js}"></script>
<!-- Vendor JS       -->
<script th:src="@{/vendor/slick/slick.min.js}">
</script>
<script th:src="@{/vendor/wow/wow.min.js}"></script>
<script th:src="@{/vendor/animsition/animsition.min.js}"></script>
<script th:src="@{/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}">
</script>
<script th:src="@{/vendor/counter-up/jquery.waypoints.min.js}"></script>
<script th:src="@{/vendor/counter-up/jquery.counterup.min.js}">
</script>
<script th:src="@{/vendor/circle-progress/circle-progress.min.js}"></script>
<script th:src="@{/vendor/perfect-scrollbar/perfect-scrollbar.js}"></script>
<script th:src="@{/vendor/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/vendor/select2/select2.min.js}">
</script>

<!-- Main JS-->
<script th:src="@{/js/main.js}">

</script>

</body>

</html>
<!-- end document-->